.card {
  width: 280px;
  //margin: 0 16px;
  margin: auto;
  overflow: initial;
  transition: all .2s ease-in-out;

  &:hover {
    transform: translateY(-20px);
  }
}

.card-inner {
  position: relative;
  padding-top: 136px;
}

.card-image {
  position: absolute;
  top: 2px;
  left: 0;
  width: 280px;
  height: 364px;
  overflow: hidden;
  background-color: #e24524;
  border-radius: 8px;

  img {
    width: 280px;
    height: 157px;
  }
}

.card-body {
  position: relative;
  margin-left: 10px;
  padding: 16px 14px 28px 16px;
  border-radius: 8px;
  border-top-right-radius: 0;
  background-color: #fff;
  height: 424px;
}

.card-footer {
  padding-top: 5px;
  font-size: 10px;

  span {
    letter-spacing: 0.6px;
  }
}

.party {
  color:  #e24524;

  .icon {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }
}

.new {
  position: absolute;
  top: -6px;
  right: -21px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  background-color: #e24524;
  z-index: 2;
  color:  #fff;
  font-size: 14px;
}

header {
  margin-bottom: 8px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e0e0e7;
}

.card-title {
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: inherit;
  overflow: hidden;
}

.card-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e7;

  .item-title {
    line-height: 27px;

    &.activity-time__header {
      line-height: 21px;
    }
    .icon {
      margin-right: 4px;
      width: 21px;
      height: 21px;
    }
  }
}

.activity-time__header {
  margin-bottom: 6.5px;
}

.activity-time {
  margin-bottom: 2px;
  margin-left: 4px;

  &__day {
    margin-right: 6px;
    border: 1px solid #e0e0e7;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    font-weight: bold;
  }
  &__time {
    width: 144px;
  }
  &__start {
    padding: 0 8px;
  }
  &__end {
    margin-left: auto;
    padding-left: 8px;
  }
}

.text-around {
  padding: 0 8px;
}

.goal {
  .text-around {
    padding-right: 6px;
  }
}

.goal, .recruit {
  height: 25.5px;
  line-height: 25.5px;
}

.description {
  margin-top: 8px;
}

.role {
  margin-top: 14px;
  margin-bottom: 14px;

  &__title {
    .icon {
      margin-left: 1px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__tank, &__healer, &__dps, &__done {
    padding: 1px;
    border-radius: 4px;
  }
  &__tank {
    background-color: #1919e6;
  }
  &__healer {
    background-color: #228b22;
  }
  &__dps {
    background-color: #c61b25;
  }
  &__either-one {
    margin-right: 15px;
    margin-left: 15.5px;
  }
  &__tank &__icon,
  &__healer &__icon {
    width: 19px;
    height: 19px;
    margin: 0.5px;
  }
}

.tag {
  &__container {
    width: 120px;
    margin-right: auto;
    padding-left: 5px;
  }
  &__item {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
  }
}

.world {
  position: absolute;
  right: 14px;
  bottom: 10px;

  &__icon-wrapper {
    margin-right: 4px;
    border: 3.5px solid #e24524;
    background-color: #e24524;
  }
  .icon {
    margin-right: 0;
    width: 11px;
    height: 11px;
  }
}

.item-title {
  padding-right: 8px;
  font-size: 13px;
  font-weight: bold;
}

.number-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  margin-right: 4px;
  width: 19.5px;
  height: 19.5px;

  &-small {
    margin-right: 2px;
    width: 12.5px;
    height: 12.5px;
  }
}

.tag-icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #313138;
  border-radius: 50%;
  background: #313138;
}

.dot-line {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #4d4d54;
    content: "";
  }
}

.bg-white {
  z-index: 2;
  background: #fff;
}
