@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 75%;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #313138;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-global {
  width: var(--width-global);
}

.w-page {
  width: var(--width-page);
}
.w-page-content {
  width: var(--width-page-content);
}

.mb-2 {
  margin-bottom: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.pl-4 {
  padding-left: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pl-8 {
  padding-left: 8px;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.font-s {
  font-size: 10px;
  line-height: 10px;
}

.border-b {
  border-bottom: 1px solid var(--border-color-gray);
}

.border-box {
  border: 1px solid var(--border-color-gray);
  border-radius: 3px;
  text-align: center;
}

.dot-line {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #4d4d54;
    content: "";
  }
}

.bg-white-z {
  background: #fff;
  z-index: 2;
}
