@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 75%;

  * {
   outline: none;
  }
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-global {
  width: var(--width-global);
}
.w-page {
  width: var(--width-page);
}
.w-page-content {
  width: var(--width-page-content);
}

.mb-2 {
  margin-bottom: 2px;
}
.ml-4 {
  margin-left: 4px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mh-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.pl-4 {
  padding-left: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pl-8 {
  padding-left: 8px;
}

.border-b {
  border-bottom: 1px solid var(--border-color-gray);
}
.border-all {
  border: 1px solid var(--border-color-gray);
}

.border-box {
  border: 1px solid var(--border-color-gray);
  border-radius: 3px;
  text-align: center;
}

/* TODO: 置き換え */
.rounded-8 {
  border-radius: 8px;
}

.shadow-pages {
  box-shadow: 7px 12px 24px 0px rgb(42 42 49 / 20%);
}

.bg-black {
  background-color: var(--color-black);
}
.bg-jet-black {
  background-color: var(--color-jet-black);
}
.bg-primary {
  background-color: var(--color-primary);
}
/* TODO: 置き換え */
.bg-yellow {

}
.bg-white-z {
  background: #fff;
  z-index: 3;
}

.text-primary {
  color: var(--color-primary);
}
.text-page-gray {
  color: var(--color-page-gray);
}
.text-jet-black {
  color: var(--color-jet-black);
}

.font-s {
  font-size: 10px;
  line-height: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}

.letter-03 {
  letter-spacing: 0.3px;
}

.transition {
  transition: all .2s ease-in-out;
}

.dot-line {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #4d4d54;
    content: "";
  }
}
