@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: var(--color-primary);
}

html {
  font-size: 75%;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #313138;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
