/**
 * main structure
 */
.brand {
  height: 38px;
  background-color: #1b1b1b;
}

.header {
  height: 80px;
  background-color: #d6d4cf;
  font-family: "メイリオ", Meiryo, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
  letter-spacing: normal;
}

/**
 * header
 */
.header {
  &__inner {
    width: 960px;
  }
  .my-character {
    width: 320px;
    height: 60px;
    padding: 5px 7px;
    border-radius: 6px;
    background-color: #333;

    .icon {
      width: 45px;
      height: 45px;
    }
    .profile {
      width: 248px;
      padding-left: 2px;

      &__name {
        font-size: 14px;
        line-height: 1.2;
        color: #bfa34c;
      }
      &__free-company {
        line-height: 1.2;
        color: #ccc;
      }
    }
    .home-world {
      position: absolute;
      top: 6px;
      right: 7px;
      height: 18px;
      margin-top: 0.5px;
      padding-right: 13px;
      font-size: 10px;
      color: #6be52e;

      .icon-wrapper {
        width: 10.5px;
        height:  10.5px;
        background-color: #6be52e;
        margin-right: 2.5px;
      }

      .icon {
        width: 12px;
        height:  12px;
      }
    }
  }
}
