/**
 * main structure
 */
.layout {
  .brand, .header, .global-nav {
    font-family: "メイリオ", Meiryo, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
    letter-spacing: normal;
  }
  .brand {
    height: 38px;
    background-color: #1b1b1b;
  }
  .header {
    height: 80px;
    background-color: #d6d4cf;
  }
  .global-nav {
    height: 48px;
    background-color: #000;
  }
  .cf-nav {
    height: 60px;
    box-shadow: 0px 14px 24px 0px rgb(42 42 49 / 10%);
  }
}

.layout {
/**
 * header
 */
.header {
  .my-character {
    width: 320px;
    height: 60px;
    padding: 5px 7px;
    border-radius: 6px;
    background-color: #333;
    box-shadow: 0 2px 3px rgb(0 0 0 / 40%);

    .icon {
      width: 45px;
      height: 45px;
    }
    .profile {
      width: 248px;
      padding-left: 2px;

      &__name {
        font-size: 14px;
        line-height: 1.2;
        color: #bfa34c;
      }
      &__free-company {
        line-height: 1.2;
        color: #ccc;
      }
    }
    .home-world {
      position: absolute;
      top: 6px;
      right: 7px;
      height: 18px;
      margin-top: 0.5px;
      padding-right: 13px;
      font-size: 10px;
      color: #6be52e;

      .icon-wrapper {
        width: 10.5px;
        height:  10.5px;
        background-color: #6be52e;
        margin-right: 2.5px;
      }

      .icon {
        width: 12px;
        height:  12px;
      }
    }
  }
}

/**
 * global-nav
 */
.global-nav {
  .nav-item {
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #e0e0e0;

    &.active {
      background-color: #2c2c2c;
    }
  }
}

/**
 * cf-nav
 */
.cf-nav {
  .cf-logo {
    width: 328px;
    padding-right: 10px;
    padding-left: 12px;
    line-height: 58px;
    font-size: 23px;
    font-family: "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    letter-spacing: -2.5px;

    .icon {
      width: 56px
    }
  }
  .cf-dc, .cf-world {
    width: 187px;
    padding-right: 16px;
    padding-left: 46px;
    border-left: 1px solid var(--border-color-gray);
    border-right: 1px solid var(--border-color-gray);
    line-height: 15px;
  }
  .cf-item {
    height: 32px;

    &__title {
      font-size: 10px;
    }
    &__text {
      height: 18px;
      line-height: 18px;
    }
  }
  .cf-dc {
    width: 187px;
  }
  .cf-world {
    width: 206px;
    border-left: none;
  }
}
}
