/**
 * main structure
 */
.new-page {
  .nav-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 81px;
    padding-right: 22px;
    color: #fff;
  }

  .detail {
    width: 1080px;
    padding-left: 134px;
  }
}

.new-page {
/**
 * nav-bar
 */
.nav-bar {
  .icon-party {
    width: 90px;
    height: 90px;
    margin: 0 28px;
  }
  .title {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 33px;
  }
}

/**
 * detail
 */
.detail {
  .info {
    margin-bottom: 20px;
    font-size: 34px;
  }
  .time {

  }
}
}
