/**
 * main structure
 */
.pages {
  .search, .tags, .condition {
    width: 904px;

    @media screen and (min-width: calc(312px * 4)) {
      width: calc(312px * 4 - 32px);
    }

    @media screen and (min-width: calc(312px * 5)) {
      width: calc(312px * 5 - 32px);
    }
  }
  .search {
    margin: 40px auto 30px;
  }
  .tags {
    height: 32px;
    margin-bottom: 72px;
  }
  .cards {
    width: calc(312px * 3);
    margin: 0 auto;

    @media screen and (min-width: calc(312px * 4)) {
      width: calc(312px * 4);
    }

    @media screen and (min-width: calc(312px * 5)) {
      width: calc(312px * 5);
    }
  }
}

.pages {
.search {
  .category {
    width: calc(100% - 138px);
    height: 60px;
    font-size: 16px;

    .title {
      max-width: 200px;
    }
    .all {
      width: 22%;
    }
    .fc {
      width: 28%;
    }
    .ls {
      width: 25%;
    }
    .party {
      width: 25%;

      .icon {
        width: 32px;
        height: 32px;
      }
      .bottom-line {
        position: absolute;
        bottom: -14px;
        right: 0;
        height: 3px;
        width: 200px;
      }
    }
  }
  .open-search {
    width: 124px;
    height: 60px;
    padding-left: 10px;
    background-color: #ebb50a;
    font-size: 14px;
    box-shadow: 7px 12px 24px 0px rgb(235 181 10 / 20%);
    cursor: pointer;

    &:hover {
      background: #fccb15;
    }
    .icon-wrapper {
      width: 42px;
    }
    .icon {
      width: 32px;
      height: 32px;
    }
  }
  .condition {
    position: absolute;
    top: 74px;
    height: 189px;

    .condition-tags {
      height: 68px;

      .title {
        min-width: 100px;
      }
      .icon-wrapper {
        width: 18px;
        height: 18px;
        margin-left: 20px;
      }
      .icon {
        width: 16px;
        height: 16px;
      }
      .tag-select {
        select, .free {
          height: 40px;
        }
        select {
          width: 160px;
          padding: 8px 30px 8px 14px;
          border-radius: 20px;
        }
        .arrow {
          right: 14px;
        }
        .free {
          width: 240px;
          padding: 6px 16px 8px 14px;
          border-radius: 20px;

          &::placeholder {
            font-weight: bold;
            letter-spacing: 0.3px;
          }
        }
      }
    }
    .activity, .others {
      height: 60px;
    }
    .activity {
      .icon-wrapper {
        width: 18px;
        height: 18px;
        margin-left: 20px;
      }
      .icon {
        width: 22px;
        height: 22px;
        margin-left: 18px;
      }
      .day {
        width: 86px;
        height: 40px;
        margin-left: 30px;
      }
      .times {
        width: 200px;
      }
      .time {
        width: 90px;
        line-height: 16px;
        padding: 9.5px 20px 12.5px 14px;
      }
      .arrow {
        &.from {
          right: 12.5px;
        }
        &.to {
          right: 10.5px;
        }
      }
    }
    .others {
      .clear {
        width: 206.5px;
        height: 60px;

        button {
          height: 30px;
          background-color: #2a2a31;

          &:hover {
            background-color: #3f3f46;
          }
        }
        .icon-wrapper {
          width: 18px;
          height: 18px;
        }
        .icon {
          width: 12px;
          height: 12px;
        }
      }
      .search-button {
        width: 188px;
        height: 60px;
        padding-right: 5px;
        background-color: #cc2944;

        &:hover {
          background: #e02d4b;
        }

        .icon {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
.tags {
  .title {
    height: 30px;
  }
  .icon-wrapper {
    width: 22px;
    height: 22px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .tag {
    height: 30px;
    padding: 0 18px;
    border-radius: 15px;
    line-height: 28px;

    &:hover {
      border: 1px solid var(--color-jet-black);
      background: var(--color-jet-black);
      color: #fff;
      cursor: pointer;
    }
  }
}
.cards {
  .link {
    margin: 0 16px;
    padding-bottom: 72px;
    display: block;
    text-decoration-line: none;

    * {
     cursor: pointer;
    }
  }
}
}
