/**
 * main structure
 */
.page {
  .nav-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 81px;
    padding-right: 22px;
    color: #fff;
  }
  .main-visual {
    margin-bottom: 130px;
  }
  .detail {
    margin-bottom: 60px;
    padding: 30px 104px 30px 94px;
    border-left: 10px solid var(--color-primary);
    border-radius: 8px;
    box-shadow: 4px 6px 16px 0px rgb(42 42 49 / 15%);
  }
}

.page {
/**
 * nav-bar
 */
.nav-bar {
  .icon-party {
    width: 90px;
    height: 90px;
    margin: 0 28px;
  }
  .title {
    font-size: 22px;
    line-height: 33px;
  }
  .period {
    height: 22px;

    .icon-calendar {
      width: 18px;
      height: 18px;
      margin-top: 1.25px;
      margin-right: 6px;
    }
  }
  .party-nav {
    .nav-item {
      height: 22px;
      margin: 0 6px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      line-height: 13px;
      font-size: 13px;

      &.active {
        border-bottom-color: #fff;
      }
    }
  }
}
/**
 * main-visual
 */
.main-visual {
  img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .recruiter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 20px;

    .name {
      height: 80px;
      margin-top: 30px;
      padding: 0 80px;
      box-shadow: 7px 12px 24px 0px rgb(42 42 49 / 15%);
      font-size: 32px;
    }
    .dc {
      margin-top: 12px;
      color: #585858;
    }
  }
}
/**
 * detail
 */
.detail {
  .activity, .requirement, .tags {
    height: 85px;
  }
  .member, .recruit {
    width: 175px;
    height: 44px;
    margin-right: 30px;
  }

  .icon-wrapper {
    width: 44px;
    height: 44px;
    margin-right: 15px;
  }
  .text {
    margin-top: 3px;
    font-size: 22px;
    line-height: 22px;
  }
  .text-s {
    font-size: 11px;
    line-height: 11px;
    color: #9a9aa1;
  }

  .header {
    padding-bottom: 24px;

    .title {
      margin-top: -4px;
      font-size: 32px;

      .icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
    }
    .adjuster {
      width: 60px;
    }
    .watch {
      width: 202px;
      height: 48px;
      padding-right: 4px;
      border-radius: 24px;
      background-color: #ebb50a;
      box-shadow: 7px 12px 24px 0px rgb(235 181 10 / 20%);
      font-size: 13px;

      .icon {
        width: 26.5px;
        height: 26.5px;
        margin-right: 1px;
      }
    }
  }
  .activity {
    .times {
      width: 593px;
      height: 44px;

      .times-inner {
        width: 534px;
        height: 44px;
      }
      .icon {
        width: 53px;
        height: 53px;
        margin-right: 10px;
        margin-left: -4.5px;
      }
      .col {
        width: 252px;
      }
      .time {
        width: 150px;

      }
      .border-box {
        width: 88px;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .member {
      .icon {
        width: 36px;
        height: 36px;
      }
    }
  }
  .requirement {
    .dc {
      .icon-wrapper {
        width: 44px;
        height: 44px;
        margin-right: 15px;
      }
    }
    .role {
      .icon-wrapper {
        padding-left: 1px;
      }
      .icon {
        width: 32px;
        height: 32px;
      }
      .role-inner {
        width: 240px;
        margin-top: 3px;

        .title {
          .icon {
            margin-right: 4.25px;
            margin-left: 1.5px;
          }
        }
        .icon {
          width: 20px;
          height: 20px;
        }
        .tank, .healer, .dps, .done {
          padding: 1px;
          border-radius: 4px;
        }
        .tank {
          background-color: #1919e6;
        }
        .healer {
          background-color: #228b22;
        }
        .dps {
          background-color: #c61b25;
        }
        .either-one {
          margin-right: 15px;
          margin-left: 15.5px;
        }
        .tank .icon,
        .healer .icon {
          width: 19px;
          height: 19px;
          margin: 0.5px;
        }
      }
    }
    .recruit {
      .icon {
        width: 40px;
        height: 40px;
      }
    }
  }
  .tags {
    font-size: 12px;

    .tags-inner {
    }
    .icon-wrapper {
      width: 30px;
      height: 30px;
      margin-right: 4px;
    }
    .icon {
      width: 26px;
      height: 26px;
    }
    .tag {
      padding: 0 18px;
      border-radius: 15px;
      line-height: 28px;
    }
    .tag {
      margin: 0 2px;

      &:nth-child(2) {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .comment {
    padding-top: 30px;
    font-size: 14px;
  }
}
}
